/** 清除内外边距 **/
html,body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,/* structural elements 结构元素 */
dl,dt,dd,ul,ol,li,/* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
from,fieldset,legend,button,input,textarea,/* form elements 表单元素 */
th,td {padding:0;margin:0}/* table elements 表格元素 */
/** 设置默认字体 **/
html,body,button,input,select,textarea {font: 14px/1.5 tahoma, \5b8b\4f53, sans-serif}/* for ie */
html, body, button, input, textarea {font-size: 14px;}/* 默认字体 14px */
input,textarea {outline: none;}/* 去除点击时的外边框 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读, 让 small 正常化  小 大 超大  */
large { font-size: 16px; }
upLarge { font-size: 18px; }
h1,h2,h3,h4,h5,h6 {font-size: 100%;font-weight: normal;}
i,s {font-style: normal;} /* 去除小标签 默认样式 */
code, kbd, pre, samp {font-family: courier new, courier, monospace;} /* 统一等宽字体 */
ul, ol, li {list-style: none;}/* 重置列表元素 */
/** 重置文本格式元素 **/
a {text-decoration: none;}
a,a:hover,a:visited {color:#000;}
sup {vertical-align: text-top;}/* 重置, 减少对行高的影响 */
sub {vertical-align: text-bottom;}
/** 重置表单元素 **/
legend{color:#000;}/* for ie6 */
fieldset,img {border:none}/* img 搭车：让链接里的 img 无边框 */
button,input,select,textarea{font-size: 100%;}/* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */
/** 重置表格元素 **/
table{border-collapse: collapse; border-spacing: 0;}
/** 重置 HTML5 元素 **/
article, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section,
summary, time, mark, audio, video{display: block;margin: 0;padding: 0;}
/** 其他 **/
.clearfix::after,.clearfix::before{content:".";line-height:0;height:0;display:block;visibility:hidden;clear:both;}
section,div{box-sizing: border-box;}/* content-box(default):border padding计算在盒子 width之内  border-box:border padding 不计算做盒子的width*/