/*.foot{
	width: 100%;
	background-position: bottom;
	background-color: #336699;
	height: 20px;
	text-align: center;
}*/
/*导航栏*/
/*.head{
	width: 100%;
	top: 0;
	position: fixed;
	background-color: #336699;
	height: 20px;
	text-align: center
}*/